# Created by https://www.toptal.com/developers/gitignore/api/vs,python
# Edit at https://www.toptal.com/developers/gitignore?templates=vs,python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# PyInstaller
# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data Directory
data/nyu-2451-34758-shapefile/nyu_2451_34758.cst
data/nyu-2451-34758-shapefile/nyu_2451_34758.dbf
data/nyu-2451-34758-shapefile/.prj
data/nyu-2451-34758-shapefile/.shx
data/nyu-2451-34758-shapefile/wfsrequest.txt
data/Ridership and Transfers by Day and Station.xlsx

# Other Directories

# Other
.DS_Store
.devcontainer

# End of https://www.toptal.com/developers/gitignore/api/vs,python